:root {
    --highColor: #f3ede4;
    --midColor: #dad5cd;
    --lowColor: #6b5e49;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    background: var(--highColor);
  }
  
  html,
  body {
    overflow-x: hidden; /* Hide horizontal scroll */
  }
  
  .uperContainerForImagesPage2 {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
  }
  
  .logInPet {
    height: auto;
    width: 25%;
  }
  
  #welcome {
    height: auto;
    width: 50%;
  }
  
  /* Form styling */
  #request-reset-form {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--midColor);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  /* Input fields styling */
  .input_filed input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #d6cfc7;
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--highColor);
    color: var(--lowColor);
  }
  
  .emailAndpasword {
    color: var(--lowColor);
    font-size: 21px;
  }
  
  /* Button styling */
  button.send-link {
    width: 100%;
    padding: 10px;
    background-color: #83735a;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 12px;
  }
  
  button.send-link:hover {
    background-color: #6b5b48;
  }
  
  /* Error and success message styling */
  .error-message, .success-message {
    font-size: 14px;
    margin-top: 10px;
  }
  
  .error-message {
    color: red;
  }
  
  .success-message {
    color: green;
  }
  
  /* Footer styling */
  .FooterImageBoxPage2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .FooterImageBoxPage2 img {
    width: 100%;
    max-width: 675px;
    margin: 92px 0 0;
  }
  
  @media (max-width: 480px) {
    .uperContainerForImagesPage2 {
      margin-top: 30px;
    }
    .emailAndpasword {
      font-size: 18px;
    }
  }
  