input:focus {
    border-color:#6b5e49;
    outline: none;
}

.map-container {
	margin: 0 auto;
	position: relative;
	z-index: 1;
	width: 80%;
	max-width: 1020px;
	height: 75vh;
	border-radius: 0 0 4px 4px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#MapBox-BigContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transform: translateX(40px);
	margin: 20px 0 60px;
}

.HoverEfetForPetsOnTheMap {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 200px;
	height: 200px;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 10px;
	border-radius: 5px;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px; /* Spațiu între imagine și nume */
}

.MapBoxSidebar {
	width: 80%;
	max-width: 1020px;
	background-color: rgb(35 55 75 / 90%);
	color: #fff;
	font-family: monospace;
	z-index: 1;
	margin: 0;
	border-radius: 4px 4px 0 0;
	font-size: 13px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.marker-icon {
	width: 30px;
	height: 30px;
	background-size: cover;
	border-radius: 50%;
	transition: opacity 0.5s; /* Smooth transition for opacity */
	cursor: pointer;
}

@media (max-width: 480px) {
	#MapBox-BigContainer {
		margin: 60px auto;
		transform: translate(0);
	}
}
