input:focus {
	border-color: #6b5e49;
	outline: none;
}

.map-container {
	margin: 0 auto;
	position: relative;
	z-index: 1;
	width: 80%;
	max-width: 1020px;
	height: 75vh;
	border-radius: 4px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#MapBox-BigContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transform: translateX(40px);
	margin: 104px 0 60px;
}

.HoverEfetForPetsOnTheMap {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 200px;
	height: 200px;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 10px;
	border-radius: 5px;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px; /* Spațiu între imagine și nume */
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
	display: none !important;
}

.marker-icon {
	width: 30px;
	height: 30px;
	background-size: cover;
	border-radius: 50%;
	transition: opacity 0.5s; /* Smooth transition for opacity */
	cursor: pointer;
}

@media (max-width: 480px) {
	#MapBox-BigContainer {
		margin: 60px auto;
		transform: translate(0);
	}
}

.notification-icon-container {
	position: relative;
	display: inline-block;
}

.notification-icon {
	cursor: pointer;
	color: #007bff; /* Schimbă culoarea iconiței după preferințe */
}

.notification-popup {
	position: absolute;
	top: 50px; /* Ajustează după necesitate */
	right: 0;
	background-color: white;
	border: 1px solid #ddd;
	padding: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	width: 250px;
}

.notification-popup ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.notification-popup li {
	padding: 5px 0;
	border-bottom: 1px solid #ddd;
}

/* for the service button to add locals==================================>*/

.addLocalButton {
	margin: 0 auto;
	width: 80%;
	max-width: 1020px;
	height: 100px;
	transform: translateX(30px) translateY(-130px);
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.addLocalButton img {
	cursor: pointer;
	width: 32px;
	height: auto;
}

.AddLocalHover {
	position: relative;
	display: inline-block; /* Asigură-te că elementul ocupă doar spațiul necesar */
}

.tooltip {
	position: absolute;
	cursor: pointer;
	transform: translateY(1px) translateX(-10%); /* Inițial textul este în interiorul butonului */
	opacity: 0; /* Textul este ascuns inițial */
	transition:
		transform 0.5s ease,
		opacity 0s ease; /* Tranziție pentru mișcare și vizibilitate */
	white-space: nowrap;
	background-color: var(--lowColor);
	color: white;
	padding: 2px 10px;
	border-radius: 6px;
}

.AddLocalHover:hover .tooltip {
	transform: translateY(1px) translateX(-124%); /* Textul se mișcă spre stânga la hover */
	opacity: 1; /* Textul devine vizibil la hover */
}

/* <====================for the service button to add locals*/

/* Pentru butonul de la change content*/

#ChangeMapContentButton {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 106px;
	height: 32px;
	z-index: 10;
	background-color: transparent;
	border: 1px solid #6b5e49;
	border-radius: 5px;
	cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ChangeMapContentButton:hover{
    background-color: #857966;
    color: white;
}

#ChangeMapContentButton img{
    width: 18px;
    height: auto;
}
