
.map-container {
    margin: 0 auto;
    position: relative;
    width: 80%;
    height: 60vh;
}

#MapBox-BigContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(40px);
}

.MapBoxSidebar {
    width: 80%;
    background-color: rgb(35 55 75 / 90%);
    color: #fff;
    font-family: monospace;
    z-index: 1;
    margin: 10px;
    border-radius: 4px;

}

.marker-icon {
    width: 30px;
    height: 30px;
    background-size: cover;
    border-radius: 50%;
    transition: opacity 0.5s; /* Smooth transition for opacity */
    cursor: pointer;
}

@media (max-width: 480px) {
    #MapBox-BigContainer{
        margin: 60px auto;
        transform: translate(0);
    }
}
