:root {
    --highColor: #F3EDE4;
    --midColor: #DAD5CD;
    --lowColor: #6b5e49;
  }
  
.Profile-info {
    transform: translateX(40px);
    margin: 30px auto;
    width: 80%;
    max-width: 900px;
    padding: 20px;
    background-color: #f9f9f9;/*var(--midColor);*/
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .Profile-ImageContainer {
    text-align: center;
  }
  
  .Profile-ImageContainer img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ddd;
  }
  
  .profile-name {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .Pet-Info {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
  }
  
  .Pet-Info p {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .Pet-Info p svg {
    margin-right: 10px;
    color: #666;
    font-size: 20px;
  }

  #edit-infoProfile{
    margin: 0 auto;
    text-align: center;
    font-size: 11px;
    text-decoration: underline;
    cursor: pointer;
    color: #888;
  }

#edit-infoProfile:hover{
  color: #d1d1d1;
}

@media (max-width: 480px) {
  .Profile-info{
    transform: translateX(0);
  }
}


  